@font-face {
  font-family: OggExtraBold;
  src: url(../../../fonts/OggText-Extrabold-BF646c18fc56511.otf);
}
@font-face {
  font-family: OggBold;
  src: url(../../../fonts/OggText-Bold-BF646c18fc4aabb.ttf);
}

.handle-container {
  background-image: url("../../../assets/background.png"); /* Update the path to the correct path of your uploaded image */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  padding: 2em 0; /* Add padding to the container to create space around the content */
}

.handle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.handle-wrapper .handle p {
  font-family: DM Sans;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  font-size: 23px;
  margin-bottom: 1em;
  width: 85%;
}
.handle button {
  font-family: "open sans";
  padding: 11px 35px 11px 35px;
  border-radius: 30px;
  border: 1px solid #2e0086;
  color: #fff;
  background-color: #2e0086;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1em;
  width: 27em;
  outline: #2e0086;
}
.handle button:hover {
  color: #2e0086;
  background-color: #fff;
  outline: #2e0086;
}

button:hover .colored-img {
  filter: invert(80%) sepia(100%) saturate(6700%) hue-rotate(258deg)
    brightness(93%) contrast(110%);
}

@media screen and (max-width: 900px) {
  .handle-wrapper .handle p {
    font-size: clamp(28px, 3vw, 38px);
    line-height: 5vw;
  }
  .handle button {
    padding: 15px 35px 15px 35px;
  }
}

@media screen and (max-width: 450px) {
  .handle-wrapper .handle p {
    font-size: clamp(20px, 3vw, 28px);
    line-height: 25px;
  }

  .handle button {
    width: 85% !important;
  }
}
