
.stick-cards {
  row-gap: 1.5rem;
  margin-top: 3em;
}

.stckers {
  display: flex;
  position: relative;
}
.ailment {
  display: flex;
  flex-direction: column;
  border: 1px solid #ebe7dc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1rem;
  p {
    font-size: clamp(0.75rem, 1vw, 1rem);
    text-align: center;
    font-weight: bold;
  }
}
.ailment img {
  object-fit: scale-down;
  display: inline-block;
  width: 100%;
  max-width: clamp(3.38rem,4vw,5.75rem);
}


