* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: OggExtraBold;
    src: url(../../../fonts/OggText-Extrabold-BF646c18fc56511.otf);
  }
  
  .faqs {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .faqs .faq {
    margin: 15px;
    padding: 22px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
  }

  .faqs .faq:hover{
    background-color: #F8F8FF;
  }
  
  .faqs .faq .faq-question {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    padding-right: 80px;
    transition: all 0.4s ease;
    font-family: "DM sans";
  }
  
  .faqs .faq .faq-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
  }
  
  .faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
    transition: all 0.2s ease;
    font-family: "open sans";
  }
  
  .faqs .faq.open .faq-question {
    margin-bottom: 15px;
  }
  
  .faqs .faq.open .faq-question::after {
    content: "-";
  }
  
  .faqs .faq.open .faq-answer {
    max-height: 1000px;
    opacity: 1;
  }
  
  .faqs .faq.open {
    background: #f8f8ff; /* Change background color when open */
    border: 1px solid #2e0086; /* Change border color when open */
  }
  
  .Frequently h1 {
    text-align: center;
    font-family: OggExtraBold;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 1em;
  }
  
  .Frequently {
    background-color: #f5f5f5;
    padding-top: 3em;
    padding-bottom: 7em;
  }
  .Frequently p {
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.79px;
  }
  .Frequently .freq-text {
      display: flex;
      gap: .9em;
      justify-content: center;
      margin-top: 1em;
      align-items: center;
  }
  
  .Frequently > p {
      margin-top: 1em;
  }
  .freq-prop p{
      display: flex;
      align-items: center;
      gap: .6em;
      color: #2e0086;
      font-weight: 600;
  }
  .freq-text > p{
      font-family: 'open sans';
      color: #070707;
      font-size: 13px;
      font-weight: 400;
  }

@media screen and (max-width: 608px){
  .Frequently h1{
    font-size: 1.5rem;
    padding: 0 .5em;
  }
}